<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>CRUD CRIB</title>
  </head>

  <body>
    <header>
        <h1>CRUD CRIB</h1>
        <p>Try out the operations of crud!</p>
        <p>Reference code:<a target= "_blank" href= "https://github.com/FlameRender/fuzzy-octo-umbrella-quebec"> HERE</a></p>
    </header>

        <!--Create Box-->
        <div class="one">
            <h2>C</h2>
            <p>Create</p>

            <div style = "text-align: center; padding: 10%;">
                <form method="POST" action="/submit">
                    <input required name="Random" placeholder="Input Something" />
                    <button type="submit" class="submit_button">SUBMIT</button>
                  </form>
            </div>

        </div>

      <!--Read Box-->
        <div class="two">
            <h2>R</h2>
            <p>Read</p>

            <div style = "text-align: center; padding: 10%;">
                <p>Last Document Inserted: <%= something %></p>
                <form method="get" action="/">
                    <button type="submit" class="submit_button">Read</button>
                </form>
            </div>

        </div>
      <!--Update Box-->
        <div class="three">
            <h2>U</h2>
            <p>Update</p>

            <div style = "text-align: center; padding: 10%;">
                <form method="POST" action="/submit">
                    <input required name="Random" placeholder="Entry you'd like to update" />
                    <button type="submit" class="submit_button">Update</button>
                </form>
            </div>

        </div>
      <!--Delete Box-->
        <div class="four">
            <h2>D</h2>
            <p>Delete</p>

            <div style = "text-align: center; padding: 10%;">
                <form method="POST" action="/delete">
                    <input required name="Random" placeholder="Entry you'd like to delete" />
                    <button type="submit" class="submit_button">Update</button>
                </form>
            </div>

        </div>
    </div>

   </body>